<div class="card">
  <div class="card-header bg-dark text-white">
    <h3 class="card-title">
      <i class="far fa-image"></i> Subir Imagen
    </h3>
  </div>
  <div class="card-body">
     <form action="/images" method="POST" enctype="multipart/form-data">
     <div class="form-gruop pb-3">
       <div class="input-gruop">
         <div class="custom-file">
           <input type="file" name="image" class="custom-file-input" id="inputGroup" aria-describedby="inputGroupFileAddon" required> 
           <label class="custom-file-label" for="inputGrupFile">Elige tu Archivo</label>
         </div>
       </div>
     </div>
     <div class="form-group">
       <input type="text" name="title" class="form-control" placeholder="Titulo de la imagen" required>
     </div>
     <div class="form-group">
       <textarea name="description" class="form-control" rows="2" placeholder="Descripcion" required></textarea>
     </div>
     <div class="form-group">
       <button class="btn btn-success">
         <i class="fa fa-upload"></i> Subir Imagen
       </button>
     </div>
     </form>
  </div>
</div>